.wrapper{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position:absolute;
    background: linear-gradient(
        150deg, 
        #867F72, 
        #2E2727, 
        #000000 
    );
    background-size: 1800% 1800%;
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.navText{
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.center-title{
    color: white;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin: 0; 
    overflow: hidden;
}

@font-face {
    font-family: CreteRound-Regular;
    src: url(/CreteRound-Regular.ttf);
}

.split-text-container {
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
}

.text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.text-part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.text-part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(10%);
    }
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 35vh;   
    background-color: transparent;   
}

/* Center the carousel in the page */

/* Style for the carousel itself */
.carousel {
    display: flex; /* Ensures the carousel is a flex container */
    justify-content: center; /* Centers the carousel horizontally */
    align-items: center; /* Centers the carousel vertically */
    width: auto; /* Set the desired width */
    margin-top: 100px;

}

.carousel-inner {
    display: flex;
    justify-content: center;
}

/* Force image into a specific size */
.carousel img {
    width: 300px; /* Set the desired width */
    height: 300px; /* Set the desired height */
    object-fit: scale-down; /* Ensures the image fills the area while maintaining aspect ratio */
    display: block; /* Removes inline spacing issues */
}