.wrapper{
    z-index: 1;
    height: auto;
    min-height: 100vh;
    width: 100%;
    position:absolute;
    background: linear-gradient(
        150deg, 
        #867F72, 
        #2E2727, 
        #000000 
    );
    background-size: 1800% 1800%;
    animation: rainbow 18s ease infinite;
}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}



.navText{
    color: white;
    font-size: 15px;
    font-weight: 500;
    /*box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);*/
}

.center-title{
    color: white;
    font-size: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0; 
    overflow: visible;
}

@font-face {
    font-family: CreteRound-Regular;
    src: url(/CreteRound-Regular.ttf);
}

.split-text-container {
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
}

.text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.text-part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.text-part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(-10%);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(10%);
        opacity: 1;
    }
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 35vh;   
    background-color: transparent;   
}

/* Center the carousel in the page */

/* Style for the carousel itself */
.carousel {
    background-color: rgb(0,0,0,.05);
    display: flex; /* Ensures the carousel is a flex container */
    justify-content: center; /* Centers the carousel horizontally */
    align-items: center; /* Centers the carousel vertically */
    margin:auto;
    width: 65%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel:hover{
    background-color: rgb(0,0,0,.15);
}

/* Force image into a specific size */
.carousel-item img {
    align-items: center;
    justify-content: center;
    display: flex;
    object-fit: scale-down; /* Ensures the image fills the area while maintaining aspect ratio */
    width: 300px; /* Set the desired width */
    height: 300px; /* Set the desired height */
}

.col{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    padding: 50px;
}

.fade-up-container {
    justify-content: center;
  }
  
  .fade-up-text {
    opacity: 0; /* Initially invisible */
    transform: translateY(30px); /* Start the text lower */
    animation: fadeUp .5s ease-out forwards; /* Apply the fade-up animation */
  }
  
  /* Animation to fade and move up */
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px); /* Starts lower */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* Ends at normal position */
    }
  }

  .fade-left-container {
    text-align: center; /* Center the text */
    padding: 50px;
  }
  
  .fade-left {
    opacity: 0; /* Start off invisible */
    transform: translateX(-100%); /* Start off-screen to the left */
    animation: fadeLeft 2s ease-out forwards; /* Apply the fade-left animation */
    
  }
  
  /* Animation to fade in and move from left to right */
  @keyframes fadeLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%); /* Start off the screen to the left */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* End at the normal position */
    }
  }

  .fade-right-container {
    text-align: center; /* Center the text */
    padding: 50px;
  }
  
  .fade-right {
    opacity: 0; /* Start off invisible */
    transform: translateX(100%); /* Start off-screen to the right */
    animation: fadeRight 2s ease-out forwards; /* Apply the fade-right animation */
  }
  
  /* Animation to fade in and move from right to left */
  @keyframes fadeRight {
    0% {
      opacity: 0;
      transform: translateX(100%); /* Start off the screen to the right */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* End at the normal position */
    }
  }

.card-img-top {
  width: 100%; /* Makes the image fill the width of the card */
  height: 200px; /* Sets a fixed height */
  object-fit: contain; /* Ensures the image covers the space without stretching */
}

.square {
  position: relative;
  flex-direction: column;
  width: 50%; /* Set the width of the square */
  min-height: 100vh;
  height: max-content; /* Set the height equal to the width */
  margin-right: auto; /* Center horizontally if inside a block container */
  margin-left: auto; /* Center horizontally if inside a block container */
  display: flex; /* Optional: Use flexbox for content alignment */

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
  background-color: rgb(0,0,0,.05);
}

.card{
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.box-parm{
  padding: 50px;
}

.title{
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 75px;
  font-weight: bold;
  color: white;
  margin: 5px;
}

.paragraph{
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
  font-size: 20px;
  color: white;
  margin: 5px;
  margin-bottom: 50px;
  padding: 10px;
}

.img-size{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.carousel-text-title{
  color: white;
  font-size: 25px;
  font-weight: bold;
  transform: translateY(150%);
  z-index: 10;
}

.ct{
  color: white;
  transform: translateY(160%);
  z-index: 10;
}

.carousel-caption-container{
  background-color: rgb(0,0,0,.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel-item{
  padding-top: 50px;
  padding-bottom: 100px;
}

.paragraph-contact{
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  font-size: 20px;
  color: white;
  margin: 5px;
  margin-bottom: 50px;
  padding: 10px;
}

.shrink-on-hover {
    transition: transform 0.2s ease-in-out;
}

.shrink-on-hover:hover {
    transform: scale(0.95);
}

.box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(134,127,114,1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  --mask:
    radial-gradient(6.44rem at 50% 8.7rem,#000 99%,#0000 101%) calc(50% - 6rem) 0/12rem 51% repeat-x,
    radial-gradient(6.44rem at 50% -5.7rem,#0000 99%,#000 101%) 50% 3rem/12rem calc(51% - 3rem) repeat-x,
    radial-gradient(6.44rem at 50% calc(100% - 8.7rem),#000 99%,#0000 101%) calc(50% - 6rem) 100%/12rem 51% repeat-x,
    radial-gradient(6.44rem at 50% calc(100% + 5.7rem),#0000 99%,#000 101%) 50% calc(100% - 3rem)/12rem calc(51% - 3rem) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}
