body{
    background: #222222;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
}

.center-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0; 
    overflow: hidden;
}

@font-face {
    font-family: CreteRound-Regular;
    src: url(/CreteRound-Regular.ttf);
}
  
h1, a, span{
    font-family: CreteRound-Regular;
    color: white;
    font-size: 100px;
    text-align: center;
    
}

.offset{
    background-color: #252320;
}

.split-text-container {
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
}

.text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.text-part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
}

.text-part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}


